/* -----Root Variable */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* Root Variable */
:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light)
}

main .password-container{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    padding-bottom: 4rem;
    position: relative;
}

.password-container form{
    width: 100%;
}


.password-container .form-group {
    margin-bottom: 20px;
}

.password-container .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-container .btn-success {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 1.8rem;
    width: 7rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
}

.password-container .btn-success:hover {
    background-color: #00900a;
}

.password-container .text-info {
    color: #9fa9a3;
}

.password-container h1{
    font-size: 1.5rem;
    margin-left: 1.5rem;
}
.password-container .save{
    font-size: 1rem;
    position: absolute;
    bottom: 1rem;
    right: 1.4rem;
}
.password-container .savesharp{
    position: absolute;
    left: 1rem;

}
.title{
    background-color: #087830;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    display: flex; /* Use flexbox to control alignment */
    align-items: center; /* Vertically center the content */
    justify-content: flex-start; /* Align content to the start */
}


.title .locksharp{
    padding-right: 0.5rem; /* Add some right padding to the lock icon */
    font-size: 24px; /* Adjust the icon size as needed */
    padding-left: 1.6rem;
}
.title .changetxt{
    padding-left: 0.5rem;
    font-size: 20px;
    font-family: Lato, sans-serif;
}