{% extends "admin_dashboard.html" %}
{% block content %}
<div class="title2">
    <h1>
        <span class="material-symbols-sharp locksharp">
            lock
            </span> <h3 class="changetxt">Change Password</h3>
    </h1>
</div>
<div class="password-container">

        
        <form method="POST" action="" id="password-form">
            <input type="hidden" name="_token" value="jgmpyt1IyNlRnIHALvZMLFiQpSberBpCqPga4019">
            <input type="hidden" name="key" value="Eli8LX6IoqFNE0zdccvOxUC15gFePU">
            
            <div class="form-group">
                <label class="change_lbl" for="">Current Password</label>
                <input class="form-control" type="password" name="old_password" required="">
            </div>
            
            <div class="form-group">
                <label class="change_lbl" for="">New Password *</label>
                <input class="form-control" type="password" name="new_password" minlength="8" required="">
                <span class="text-info"><small><i>* minimum of 8 characters</i></small></span>
            </div>

            <div class="form-group">
                <label class="change_lbl" for="">Confirm New Password</label>
                <input class="form-control" type="password" name="confirm_password" required="">
            </div>

                <button class="btn btn-success" type="submit" id="save-btn">
                    <span class="material-symbols-sharp savesharp">
                        save
                    </span> &nbsp;<span class="save">SAVE</span>
                </button>
        </form>  
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>



{% endblock %}