{% extends "admin_dashboard.html" %}
{% block content %}

<div class="programCard">
           
            <div class="program-form">
                <form method="POST" action="{{ url_for('randomForest.programWithCSV2') }}" enctype="multipart/form-data" id="upload-form">
                    <label for="formFile" class="programForm">Upload CESU CSV file</label>
                    
                        {% if error_message %}
                            <script>
                                alert("{{ error_message }}");
                            </script>
                        {% endif %}
                        <input class="form-submit" type="file" name="csv_file" id="formFile" accept=".csv" required>
                        <input class="btn-submit" type="submit" value="Upload" id="submit-button" onclick="myfunction(); return false;">
                
                </form>
            </div>
</div>

<script>
    // Attach an event handler for the form submission
    if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
    function myfunction(){
        // Create a FormData object to send the file
        var formData = new FormData(this);

        // Send an Ajax POST request to the server
        $.ajax({
            url: "{{ url_for('randomForest.programWithCSV2') }}",
            type: "POST",
            data: formData,
            processData: false, // Prevent jQuery from converting the data to a query string
            contentType: false, // Prevent jQuery from setting the content type
            success: function(response) {
                // Update the content of the result container with the response
                $('#result-container').html(response);
            },
            error: function(xhr, status, error) {
                console.error("Ajax request failed:", error);
            }
        });
    }
</script>

    {% block results %}{% endblock %}      
{% endblock %}