{% extends "program.html" %}
{% block results %}

<div class="program-row">
    
    <div class="top1">
                <ul>
                    <li>
                        <span class="prediction" data-program="{{ top1.program }}">
                            {{ top1.program }} <div>({{ top1.quantity }} rows)</div>
                        </span>
                    </li>
                    <li class="sub-programs">
                        <ol class="subprogram-list">
                            {% for sub_program in top1.sub_programs %}
                            <li>{{ sub_program }}</li>
                            {% endfor %}
                        </ol>
                    </li>
                </ul>
            </div>
<!--top2-->
    <div class="top2">
                  <ul>
                    <li>
                        <span class="prediction" data-program="{{ top1.program }}">
                            {{ top2.program }} <div>({{ top2.quantity }} rows)</div>
                        </span>
                    </li>
                    <li class="sub-programs">
                        <ol class="subprogram-list">
                            {% for sub_program in top2.sub_programs %}
                            <li>{{ sub_program }}</li>
                            {% endfor %}
                        </ol>
                    </li>
                </ul>
    </div>

    <div class="top3">
        <ul>
            <li>
                <span class="prediction" data-program="{{ top1.program }}">
                    {{ top3.program }} <div>({{ top3.quantity }} rows)</div>
                </span>
            </li>
            <li class="sub-programs">
                <ol class="subprogram-list">
                    {% for sub_program in top3.sub_programs %}
                        <li>{{ sub_program }}</li>
                    {% endfor %}
                </ol>
            </li>
        </ul>
    </div>
</div>

<div class="datas">

    <div class="graph2">
            <!--------------------- KASARIAN ------------------------>
        <div class="kasarianChart">
            <canvas id="kasarianchart"></canvas></div>
        <!--------------------- URI NG TRABAHO ------------------------>
                <div class="trabahoChart">
                    <canvas id="trabahochart"></canvas>
                </div>  
    </div>

    <div class="graph3">
          <!--------------------- EDAD ------------------------>
        <div class="edadChart">
            <canvas id="edadchart"></canvas>
        </div>
<!--------------------- TINAPOS NA DEGREE ------------------------>
        <div class="tinaposChart">
            <canvas id="tinaposchart"></canvas>
        </div>  
         <!--------------------- SERBISYONG KAILANGAN ------------------------>
        <div class="serbisyoChart">
            <canvas id="serbisyochart"></canvas>
        </div>  
         
    </div>
   
    
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>


<script>
    document.addEventListener("DOMContentLoaded", function () 
    {
    /* --------------------------------------- KASARIAN ---------------------------------*/
    let kasarian_lbl = ['Lalake', 'Babae',]
    let kasarian_data =['{{ kasarian_counts.get(0, 0) }}', '{{ kasarian_counts.get(1, 0) }}']

    const data1 = {
        labels: kasarian_lbl,
        datasets: [
            {
                
                data: kasarian_data,
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)','rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgb(54, 162, 235)',
                    'rgb(255, 99, 132)'
                ],
            borderWidth: 2
            },
        ]
    };

    const kasarian_config = {
        type: 'bar',
        data: data1,
        options: {
            indexAxis: 'x',
            responsive: true,  // Enable responsiveness
            maintainAspectRatio: false,  // Disable aspect ratio maintenance
            aspectRatio: 1,  // Set your desired aspect ratio (width:height)
            plugins: {
            title: {
                display: true,
                text: 'Kasarian'
            },
            legend: {
                display: false,
            }
            }   
        },

    };

     /* --------------------------------------- EDAD ---------------------------------*/
    let edad_lbl = ['17-below', '18-24', '25-34', '35-44', '45-54', '55-64', '65-Above'];
    let edad_data = ['{{edad_counts.get(0,0)}}', 23, 85, 44, 55, 76, 25];
    
    const data2 = {
        labels: edad_lbl,
        datasets: [{
            data: edad_data,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)', /* red */
                'rgba(255, 159, 64, 0.2)', /* orange */
                'rgba(255, 205, 86, 0.2)', /*yellow*/
                'rgba(75, 192, 192, 0.2)',  /*cyan*/
                'rgba(54, 162, 235, 0.2)', /*blue*/
                'rgba(153, 102, 255, 0.2)', /*violet*/
                'rgba(201, 203, 207, 0.2)' /*gray*/
            ],
            
            borderColor: [
                'rgb(255, 99, 132)', /* red */
                'rgb(255, 159, 64)', /* orange */
                'rgb(255, 205, 86)',/*yellow*/
                'rgb(75, 192, 192)',/*cyan*/
                'rgb(54, 162, 235)',/*blue*/
                'rgb(153, 102, 255)',/*violet*/
                'rgb(201, 203, 207)'/*gray*/
            ],
            
            borderWidth: 2
        }]
    };
    
    const edad_config = {
        type: 'bar',
        data: data2,
        options: {
            indexAxis: 'x',
            responsive: true,
            maintainAspectRatio: false,
            aspectRatio: 1,
            plugins: {
                title: {
                    display: true,
                    text: 'Edad'
                },
                legend: {
                    display: false,
                }
            }
        }
    };

    /* ------------------------------------ ANTAS NG TINAPOS ---------------------------------*/
    let tinapos_lbl = ['Hindi nakapagtapos ng Elementarya', 'Elementarya', 'Hindi nakapagtapos ng Sekundarya', 'Sekundarya', 'Kolehiyo', 'Hindi nakapagtapos ng Kolehiyo', 'Masters Degree', 'Doctorate Degree', 'Hindi nakapag-aral'];
    let tinapos_data = ['{{ antas_counts.get(0, 0) }}', '{{ antas_counts.get(1, 0) }}', '{{ antas_counts.get(2, 0) }}', '{{ antas_counts.get(3, 0) }}', '{{ antas_counts.get(4, 0) }}', '{{ antas_counts.get(5, 0) }}', '{{ antas_counts.get(6, 0) }}', '{{ antas_counts.get(7, 0) }}', '{{ antas_counts.get(8, 0) }}'];
    
    const data3 = {
        labels: tinapos_lbl,
        datasets: [{
            data: tinapos_data,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)', /* red */
                'rgba(255, 159, 64, 0.2)', /* orange */
                'rgba(255, 205, 86, 0.2)', /*yellow*/
                'rgba(75, 192, 192, 0.2)',  /*cyan*/
                'rgba(54, 162, 235, 0.2)', /*blue*/
                'rgba(153, 102, 255, 0.2)', /*violet*/
                'rgba(201, 203, 207, 0.2)', /*gray*/
                'rgb(77, 255, 77, 0.2)' /*green*/
            ],
            
            borderColor: [
                'rgb(255, 99, 132)', /* red */
                'rgb(255, 159, 64)', /* orange */
                'rgb(255, 205, 86)',/*yellow*/
                'rgb(75, 192, 192)',/*cyan*/
                'rgb(54, 162, 235)',/*blue*/
                'rgb(153, 102, 255)',/*violet*/
                'rgb(201, 203, 207)',/*gray*/
                'rgb(0, 255, 0)' /*green*/
            ],
            
            borderWidth: 2
        }]
    };
    
    const tinapos_config = {
        type: 'bar',
        data: data3,
        options: {
            indexAxis: 'y',
            responsive: true,
            maintainAspectRatio: false,
            aspectRatio: 1,
            plugins: {
                title: {
                    display: true,
                    text: 'Antas ng Tinapos'
                },
                legend: {
                    display: false,
                }
            }
        }
    };

    /* ------------------------------------ URI NG TRABAHO ---------------------------------*/
    let trabaho_lbl = ['May Trabaho', 'Walang Trabaho'];
    let trabaho_data = ['{{ uri_counts.get(0, 0) }}', '{{ uri_counts.get(1, 0) }}'];
    
    const data4 = {
        labels: trabaho_lbl,
        datasets: [{
            data: trabaho_data,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)', /* red */
                'rgba(255, 159, 64, 0.2)', /* orange */
            ],
            
            borderColor: [
                'rgb(255, 99, 132)', /* red */
                'rgb(255, 159, 64)', /* orange */
            ],
            
            borderWidth: 2
        }]
    };
    
    const trabaho_config = {
        type: 'bar',
        data: data4,
        options: {
            indexAxis: 'x',
            responsive: true,
            maintainAspectRatio: false,
            aspectRatio: 1,
            plugins: {
                title: {
                    display: true,
                    text: 'Estado ng Trabaho'
                },
                legend: {
                    display: false,
                }
            }
        }
    };

     /* ------------------------------------ SERBISYO ---------------------------------*/

     let serbisyo_lbl = ['Serbisyong Pangedukasyon', 'Pagsasanay Pangkabuhayan(Livelihood)', 'Pagtatanim', 'Serbisyon Pangkalusugan', 'Serbisyong Dental', 'Kaalamang Pangkultura', 'Values Formation at Moral Recovery', 'Ayudang Pagkain (Food Assistance)', 'Pagrerecycle', 'Pagsasanay Ukol sa Teknolohiya'];
     let serbisyo_data = ['{{ Pangedukasyon_counts.get(1, 0) }}', '{{ Pangkabuhayan_counts.get(1, 0) }}', '{{ Pagtatanim_counts.get(1, 0) }}','{{ Pangkalusugan_counts.get(1, 0) }}', '{{ Dental_counts.get(1, 0) }}','{{ Pangkultura_counts.get(1, 0) }}', '{{ Values_counts.get(1, 0) }}', '{{ Pagkain_counts.get(1, 0) }}', '{{ Pagrerecycle_counts.get(1, 0) }}', '{{ Teknolohiya_counts.get(1, 0) }}'];
    
    const data5 = {
        labels: serbisyo_lbl,
        datasets: [{
            data: serbisyo_data,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)', /* red */
                'rgba(255, 159, 64, 0.2)', /* orange */
                'rgba(255, 205, 86, 0.2)', /*yellow*/
                'rgba(75, 192, 192, 0.2)',  /*cyan*/
                'rgba(54, 162, 235, 0.2)', /*blue*/
                'rgba(153, 102, 255, 0.2)', /*violet*/
                'rgba(201, 203, 207, 0.2)', /*gray*/
                'rgb(77, 255, 77, 0.2)', /*green*/
                'rgb(255, 153, 204, 0.2)', /*pink*/
                'rgb(230, 115, 0, 0.2)' /*brown*/
            ],
            
            borderColor: [
                'rgb(255, 99, 132)', /* red */
                'rgb(255, 159, 64)', /* orange */
                'rgb(255, 205, 86)',/*yellow*/
                'rgb(75, 192, 192)',/*cyan*/
                'rgb(54, 162, 235)',/*blue*/
                'rgb(153, 102, 255)',/*violet*/
                'rgb(201, 203, 207)',/*gray*/
                'rgb(0, 255, 0)', /*green*/
                'rgb(255, 26, 140)', /* pink*/
                'rgb(102, 51, 0)' /* brown */

            ],
            
            borderWidth: 2
        }]
    };
    
    const serbisyo_config = {
        type: 'bar',
        data: data5,
        options: {
            indexAxis: 'y',
            responsive: true,
            maintainAspectRatio: false,
            aspectRatio: 1,
            plugins: {
                title: {
                    display: true,
                    text: 'Estado ng Trabaho'
                },
                legend: {
                    display: false,
                }
            }
        }
    };




    const chartkasarian = new Chart(
        document.getElementById('kasarianchart'),
        kasarian_config
        );
    
    const chartedad = new Chart(
        document.getElementById('edadchart'),
        edad_config
        );
    const chart_tinapos = new Chart(
        document.getElementById('tinaposchart'),
        tinapos_config
        );
    const chart_trabaho = new Chart(
        document.getElementById('trabahochart'),
        trabaho_config
        );
    const chart_serbisyo = new Chart(
        document.getElementById('serbisyochart'),
        serbisyo_config
        );
        

    });
</script>

    


{% endblock %}